<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>My name is <span class="teal">Alex Teal</span>.</h2>
      <p>Born and raised in South Carolina, I've always had a passion for anything and everything computers. That's what pushed me through my <span class="teal">Bachelor of Science</span> in <span class="teal">Computer Science</span> and into my career as a software engineer. I've had about three years experience professionally, but many years learning and non-professional experience.</p>
      <p>Starting in the Java world, moving to the <span class="teal">Ruby on Rails</span> world, and eventually to Javascript front ends and APIs; I have loved every moment of my career and look forward to continuing that in the future. I do have a full time main job, but I'm actively looking for side work.</p>
      <p>I look forward for the <span class="teal">opportunity</span> to learn about your business and be able to assist you in continuing that vision forward.</p>

      <p>In the mean time feel free to check out my <a href="/blog">blog</a> for random tech / personal posts.</p>
    </div>
  </div>
</section>
