    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>View Experience</h2>
                    <p></p>
                    <a href="http://www.linkedin.com/in/arteal" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> To LinkedIn</a>
                </div>
            </div>
        </div>
    </section>
